<ion-view title="設置" id='settingsView' >
    <ion-content class="">
       <ion-toggle ng-model="nightMode"  ng-change="nightModeChanged()">
         夜間模式
      </ion-toggle>
      <ion-toggle ng-model="traditionalChinese"  ng-change="traditionalChineseChanged()">
        正體文字
     </ion-toggle>
        <!-- <ion-list>
          <ion-item class = 'item' style='border:none' ng-repeat="item in favorites" ui-sref="tab.book({name:item.name})">

          </ion-item>
        </ion-list> -->
      </ion-content>

</ion-view>
