<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-bottom tabs-item-show" id='tabs'>


  <!-- Dashboard Tab -->
  <ion-tab title="書目" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Book Tab -->
  <ion-tab title="閱讀" icon="icon ion-gear-b" href="#/tab/book/?continue=true">
    <ion-nav-view name="tab-book"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="設置" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<script id="model-confirm-removal-favorite.html" type="text/ng-template">
<ion-modal-view>
  <ion-header-bar class='bar bar-header bar-energized'>
    <h1 class="title">確認刪除</h1>
  </ion-header-bar>
  <ion-content>
    <h4>你確定要刪除<i>《{{bookTitle}}》</i>嗎?<h4>
    <div class="button-bar">
      <a class="button button-assertive" ng-click='removeFavorite()'>刪除</a>
      <a class="button button-positive" ng-click='cancelRemoveFavorite()'>取消</a>
    </div>
  </ion-content>
</ion-modal-view>
</script>
