
*:not(font) {
  background-color:black!important;
  color:white!important;
}

.toggle input:checked + .track {
  border-color: #4a87ee!important;
  background-color: #4a87ee!important;
}
.toggle .handle {
  background-color: #fff!important;
}

a {
  color:lightblue!important;
}
