/* Empty. Add your own CSS if you like */
.center{
  text-align:center;
}

h1 {
  text-align:center;

}

i {
  text-style: italic;
}

a.new:link {
  text-decoration: none;
}

a.new:visited {
    text-decoration: none;
}

.txt {
  font: 600 20px/1.71 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "Noto Sans CJK TC","Noto Sans CJK SC", sans-serif;
  color:black;
  background-color:white;
  padding:0 1px 0 5px;
}
